
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/errorpages.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <title>InternalServer</title>
</head>
<body class="error500">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error500-container text-center">
            <h1>500</h1>
            <div class="error-divider">
                <h2>OOPPSSS!!</h2>
                <p class="description">SOMETHING WENT WRONG.</p>
            </div>
            <a href="@Url.Action("Index","Home")" class="return-btn"><i class="fa fa-home"></i>Home</a>
        </section>
    </div>
</body>
</html>

